<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901587738698-8rem00h09f05qmg3jlbqjhjtjrn1d9sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901587738698-8rem00h09f05qmg3jlbqjhjtjrn1d9sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDQEUkQTwqgTRxNXeicFbAWFE3p0Cjetxw</string>
	<key>GCM_SENDER_ID</key>
	<string>901587738698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilomi.StreamFlow</string>
	<key>PROJECT_ID</key>
	<string>streamflow-ea67a</string>
	<key>STORAGE_BUCKET</key>
	<string>streamflow-ea67a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901587738698:ios:cad1647dc65348a5da06b3</string>
</dict>
</plist>